/*--------------------------------------------------------
* Filename: styles.scss
* Description: General sassy styles for RBrianRedd.com site

* Author: R. Brian Redd 
--------------------------------------------------------*/


/*Sass Variables*/

$defaultbg: #5E5EAF;
$mainrowheight: 16%;
$navwidth: 60px;
@mixin full-size {
    width: 100%;
    height: 100%;
}

@mixin navpad {
    padding-left: $navwidth;
    padding-right: $navwidth;
}

@mixin modalwidth {
    margin: 0 auto;
    width: 80%;
    height: 80%;
}


/*Fonts*/

@font-face {
    font-family: "YearSupplyOfFairyCakes";
    src: url("../fonts/YEARSUPPLYOFFAIRYCAKES.ttf");
}


/*Main CSS*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    @include full-size;
}

body {
    position: relative;
    background-color: $defaultbg;
    transition: 1.0s;
    overflow-x: hidden;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: #FFF;
    text-decoration: none;
}

.nowrap {
    display: inline-block;
}

.gryphon {
    @include full-size;
    position: absolute;
    z-index: -1;
    background-image: url("../img/gryphon_bg.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 90%;
    transform: scale(1.1);
    opacity: 0.2;
}

.main {
    @include full-size;
    position: relative;
    z-index: 0;
    overflow: hidden;
    color: #FFF;
    #navbar {
        position: fixed!important;
        -webkit-transform: translate3d(0, 0, 0);
        height: 100%;
        width: $navwidth;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: 10;
        .gryph-logo {
            position: absolute;
            height: 60px;
            line-height: 60px;
            width: $navwidth;
            background-image: url("../img/gryphon_bg.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 45px;
            text-align: center;
            vertical-align: middle;
            transition: all 0.3s ease-out;
            span {
                height: 60px;
                opacity: 0;
                transition: all 0.3s ease-out;
            }
        }
        a.gryph-logo:hover {
            background-image: none;
            text-decoration: none;
            span {
                opacity: 1;
            }
        }
        .main-nav {
            top: 60px;
        }
        .social-nav {
            bottom: 15px;
            display: none;
            a:after {
                font-size: .8em;
            }
        }
        .vertical-nav {
            text-align: center;
            position: absolute;
            width: $navwidth;
            a {
                position: relative;
                line-height: 60px;
                height: 60px;
                span {
                    transition: all 0.3s ease-out;
                    font-size: 1.5em;
                    width: $navwidth;
                    vertical-align: bottom;
                }
            }
            a:after {
                position: absolute;
                top: 0px;
                left: 0px;
                width: $navwidth;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }
            a:hover span {
                opacity: 0;
            }
            a:hover:after {
                opacity: 1;
            }
            a[rel="top"]:after {
                content: "Top";
            }
            a[rel="contact"]:after {
                content: "Contact";
            }
            a[rel="about"]:after {
                content: "About";
            }
            a[rel="email"]:after {
                content: "Email Me";
            }
        }
    }
    .landing {
        @include navpad;
        height: 100%;
        .rbr_name {
            text-align: center;
            font-family: 'YearSupplyOfFairyCakes', 'Arial', sans-serif;
            transition: all 0.3s ease-out;
        }
        .row-content:first-of-type {
            height: $mainrowheight * 1.5;
        }
        .row-content {
            height: $mainrowheight;
        }
        .rbr_title {
            padding-top: 15px;
            text-align: center;
        }
    }
}

.carousel {
    position: absolute;
    @include full-size;
    .carousel-inner {
        @include full-size;
        margin-bottom: -40px;
        .carousel-item {
            @include full-size;
            .carousel-header {
                font-family: 'YearSupplyOfFairyCakes', 'Arial', sans-serif;
                color: #FFFFFF;
                padding: 5px;
                width: 100%;
                height: 3.0em;
                transition: 1.0s;
                cursor: pointer;
                h3 {
                    text-align: center;
                }
            }
            .carousel-caption {
                vertical-align: middle;
                font-size: 1.2em;
                font-weight: bold;
                text-shadow: 0 0 10px #FFF;
                transition: 1.0s;
                top: 45px;
            }
        }
    }
    .carousel-indicators {
        bottom: -15px;
        transition: 1.0s;
        li {
            border-radius: 10px;
            max-width: 10px;
            height: 10px;
            border-width: 1px;
            border-style: solid;
        }
    }
    .carousel-control-next,
    .carousel-control-prev {
        top: 45px;
    }
}

.lookdown {
    position: absolute;
    left: 50%;
    margin-left: -16px;
    bottom: 10px;
    text-align: center;
}

.lookdown-section {
    position: relative;
    left: 50%;
    margin-left: -16px;
    text-align: center;
}

.gryph_mask {
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    background-color: #FFF;
    background-image: url("../img/gryphon_bk_mask.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.bacon_modal {
    .modal-content {
        max-width: 90%;
        .modal-header {
            background-color: $defaultbg;
            color: #FFF;
        }
        .modal-body {
            a {
                color: $defaultbg;
                font-weight: bold;
            }
            a:hover {
                text-decoration: underline;
            }
            h4 {
                padding: 10px;
                color: #FFF;
                font-family: 'YearSupplyOfFairyCakes', 'Arial', sans-serif;
                line-height: 1.3em;
            }
            h5 {
                text-decoration: underline;
            }
        }
    }
}

.bacon {
    @include navpad;
    color: #FFF;
    z-index: -1;
    a:hover {
        text-decoration: underline;
    }
    .container {
        background: transparent;
    }
    hr {
        border-width: 3px;
    }
}

footer {
    @include navpad;
    color: #FFF;
    text-align: center;
    a {
        color: #FFF;
        text-decoration: none;
    }
    a:hover {
        color: #FFF;
        text-decoration: underline;
    }
    span {
        font-size: 0.7em;
    }
}


/*Media Queries*/

@media screen and (min-height: 570px) {
    .main #navbar .social-nav {
        display: block;
    }
}