/*--------------------------------------------------------
* Filename: styles.scss
* Description: General sassy styles for RBrianRedd.com site

* Author: R. Brian Redd 
--------------------------------------------------------*/
/*Sass Variables*/
/*Fonts*/
@font-face {
  font-family: "YearSupplyOfFairyCakes";
  src: url("../fonts/YEARSUPPLYOFFAIRYCAKES.ttf"); }

/*Main CSS*/
*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  position: relative;
  background-color: #5E5EAF;
  transition: 1.0s;
  overflow-x: hidden; }

a {
  color: #FFF;
  text-decoration: none; }

a:hover {
  color: #FFF;
  text-decoration: none; }

.nowrap {
  display: inline-block; }

.gryphon {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-image: url("../img/gryphon_bg.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 90%;
  transform: scale(1.1);
  opacity: 0.2; }

.main {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #FFF; }
  .main #navbar {
    position: fixed !important;
    -webkit-transform: translate3d(0, 0, 0);
    height: 100%;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 10; }
    .main #navbar .gryph-logo {
      position: absolute;
      height: 60px;
      line-height: 60px;
      width: 60px;
      background-image: url("../img/gryphon_bg.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 45px;
      text-align: center;
      vertical-align: middle;
      transition: all 0.3s ease-out; }
      .main #navbar .gryph-logo span {
        height: 60px;
        opacity: 0;
        transition: all 0.3s ease-out; }
    .main #navbar a.gryph-logo:hover {
      background-image: none;
      text-decoration: none; }
      .main #navbar a.gryph-logo:hover span {
        opacity: 1; }
    .main #navbar .main-nav {
      top: 60px; }
    .main #navbar .social-nav {
      bottom: 15px;
      display: none; }
      .main #navbar .social-nav a:after {
        font-size: .8em; }
    .main #navbar .vertical-nav {
      text-align: center;
      position: absolute;
      width: 60px; }
      .main #navbar .vertical-nav a {
        position: relative;
        line-height: 60px;
        height: 60px; }
        .main #navbar .vertical-nav a span {
          transition: all 0.3s ease-out;
          font-size: 1.5em;
          width: 60px;
          vertical-align: bottom; }
      .main #navbar .vertical-nav a:after {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 60px;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out; }
      .main #navbar .vertical-nav a:hover span {
        opacity: 0; }
      .main #navbar .vertical-nav a:hover:after {
        opacity: 1; }
      .main #navbar .vertical-nav a[rel="top"]:after {
        content: "Top"; }
      .main #navbar .vertical-nav a[rel="contact"]:after {
        content: "Contact"; }
      .main #navbar .vertical-nav a[rel="about"]:after {
        content: "About"; }
      .main #navbar .vertical-nav a[rel="email"]:after {
        content: "Email Me"; }
  .main .landing {
    padding-left: 60px;
    padding-right: 60px;
    height: 100%; }
    .main .landing .rbr_name {
      text-align: center;
      font-family: 'YearSupplyOfFairyCakes', 'Arial', sans-serif;
      transition: all 0.3s ease-out; }
    .main .landing .row-content:first-of-type {
      height: 24%; }
    .main .landing .row-content {
      height: 16%; }
    .main .landing .rbr_title {
      padding-top: 15px;
      text-align: center; }

.carousel {
  position: absolute;
  width: 100%;
  height: 100%; }
  .carousel .carousel-inner {
    width: 100%;
    height: 100%;
    margin-bottom: -40px; }
    .carousel .carousel-inner .carousel-item {
      width: 100%;
      height: 100%; }
      .carousel .carousel-inner .carousel-item .carousel-header {
        font-family: 'YearSupplyOfFairyCakes', 'Arial', sans-serif;
        color: #FFFFFF;
        padding: 5px;
        width: 100%;
        height: 3.0em;
        transition: 1.0s;
        cursor: pointer; }
        .carousel .carousel-inner .carousel-item .carousel-header h3 {
          text-align: center; }
      .carousel .carousel-inner .carousel-item .carousel-caption {
        vertical-align: middle;
        font-size: 1.2em;
        font-weight: bold;
        text-shadow: 0 0 10px #FFF;
        transition: 1.0s;
        top: 45px; }
  .carousel .carousel-indicators {
    bottom: -15px;
    transition: 1.0s; }
    .carousel .carousel-indicators li {
      border-radius: 10px;
      max-width: 10px;
      height: 10px;
      border-width: 1px;
      border-style: solid; }
  .carousel .carousel-control-next,
  .carousel .carousel-control-prev {
    top: 45px; }

.lookdown {
  position: absolute;
  left: 50%;
  margin-left: -16px;
  bottom: 10px;
  text-align: center; }

.lookdown-section {
  position: relative;
  left: 50%;
  margin-left: -16px;
  text-align: center; }

.gryph_mask {
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.3;
  background-color: #FFF;
  background-image: url("../img/gryphon_bk_mask.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 100%; }

.bacon_modal .modal-content {
  max-width: 90%; }
  .bacon_modal .modal-content .modal-header {
    background-color: #5E5EAF;
    color: #FFF; }
    .bacon_modal .modal-content .modal-header button {
      margin: 5px; }
  .bacon_modal .modal-content .modal-body a {
    color: #5E5EAF;
    font-weight: bold; }
  .bacon_modal .modal-content .modal-body a:hover {
    text-decoration: underline; }
  .bacon_modal .modal-content .modal-body h4 {
    padding: 10px;
    color: #FFF;
    font-family: 'YearSupplyOfFairyCakes', 'Arial', sans-serif;
    line-height: 1.3em; }
  .bacon_modal .modal-content .modal-body h5 {
    text-decoration: underline; }

.bacon {
  padding-left: 60px;
  padding-right: 60px;
  color: #FFF;
  z-index: -1; }
  .bacon a:hover {
    text-decoration: underline; }
  .bacon .container {
    background: transparent; }
  .bacon hr {
    border-width: 3px; }

footer {
  padding-left: 60px;
  padding-right: 60px;
  color: #FFF;
  text-align: center; }
  footer a {
    color: #FFF;
    text-decoration: none; }
  footer a:hover {
    color: #FFF;
    text-decoration: underline; }
  footer span {
    font-size: 0.7em; }

/*Media Queries*/
@media screen and (min-height: 570px) {
  .main #navbar .social-nav {
    display: block; } }
